/infrastructure/bpm-platform.xml/
/infrastructure/camunda/
/infrastructure/data/
/infrastructure/kafka/
/infrastructure/local/
/infrastructure/monitoring/
/infrastructure/out/
/infrastructure/postgres_data/
/infrastructure/schema_registry_data/
/.idea/
/infrastructure/.env
/infrastructure/grafana-storage/csv/
/infrastructure/grafana-storage/data/
/infrastructure/grafana-storage/pdf/
/infrastructure/grafana-storage/plugins/
/infrastructure/grafana-storage/png/
/infrastructure/grafana-storage/
/infrastructure/postgres2-replica_data/
/infrastructure/postgres-replica_data/
/infrastructure/postgres_data2/
