device:
  service:
    base-uri: ${BASE_URI}

server:
  port: ${SERVER_PORT}
spring:
  application:
    name: ${APPLICATION_NAME}
  config:
    import: .properties

  security:
    oauth2:
      resourceserver:
        client:
          client-id: ${KEYCLOAK_CLIENT_ID}
        jwt:
          issuer-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}

  datasource:
    pool-size: ${DB_POOL_SIZE}
    timeout:
      connection: ${DB_TIMEOUT_CONNECTION}
      idle: ${DB_TIMEOUT_IDLE}
    max-life-time: ${DB_MAX_LIFE_TIME}
    url:
      shard-master0: jdbc:postgresql://${SHARD0_MASTER}
      shard-master1: jdbc:postgresql://${SHARD1_MASTER}
      shard-replica0: jdbc:postgresql://${SHARD0_REPLICA}
      shard-replica1: jdbc:postgresql://${SHARD1_REPLICA}

    username:
      shard-master0: ${DB_USERNAME}
      shard-master1: ${DB_USERNAME}
      shard-replica0: ${DB_USERNAME}
      shard-replica1: ${DB_USERNAME}

    password:
      shard-master0: ${DB_PASSWORD}
      shard-master1: ${DB_PASSWORD}
      shard-replica0: ${DB_PASSWORD}
      shard-replica1: ${DB_PASSWORD}

    shard:
      table: ${SHARD_TABLE}
      column: ${SHARD_COLUMN}
      algorithm: ${SHARD_ALGORITHM}
      type: ${SHARD_TYPE}

  flyway:
    enabled: false

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: ${MANAGEMENT_INCLUDE}
  endpoint:
    health:
      show-details: ${MANAGEMENT_SHOW_DETAILS}


flyway:
  location: ${FLYWAY_LOCATION}
  dataSources:
    - url: jdbc:postgresql://${SHARD0_MASTER}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
    - url: jdbc:postgresql://${SHARD0_REPLICA}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
    - url: jdbc:postgresql://${SHARD1_MASTER}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
    - url: jdbc:postgresql://${SHARD1_REPLICA}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}